/* 

#kaz {    
padding-top: 150px;    
		
background-image: url(/images/bg.jpg);
background-position: center; 
background-size: contain;
background-repeat: no-repeat; 

}     

#rus{
background-image: url(/images/bg1.jpg);
background-position: center center;    
background-size: contain;
background-repeat: no-repeat; 
}


.star-light:after{
	
background: #e5f7f9 !important;
} 

.navbar-custom{ 
background: #008ca1 !important;
}
#kaz > div > div:nth-child(1) > div > h2
{
color:  #008ca1 !important;
}*/

/* секция кнопки перевода */
#buttonTranslate { 
	margin-bottom: -55px;
}

#buttonTranslated { 
	border-radius: 100px;
}
/***************************/

#block {
	display: none; 
}

#rus{
    background:url('../images/datebook.jpg') no-repeat center center;
    background-size:100% auto;    
} 