#datebook {
    background-image: url('/images/datebook.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.form-group-textarea {
	/*margin-top: 150px !important;*/
	margin-left: 30px !important; 
	margin-right: 30px !important; 
}

#textrus {
	background: transparent;
}

#order {
	background-image: url('/images/order.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

div.form-group > div > input, #translate {
	/*background: transparent;*/
	opacity: 0.7
}

.navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
}

.navbar-custom {
    background: #CCC; 
}

.navbar-brand {
    float: none;
    padding-left: 60px;
}

#buttonTranslated {
	position: absolute;
	top: 4%;
	left: 26%;
	width: 10%;
	background: transparent;
	border: none;	
}

